In [1]:
import pandas as pd

train_df = pd.read_csv("Data/Challenge/Mixure_Definitions_Training_set.csv")
train_df

,Dataset,Mixture Label,CID,CID.1,CID.2,CID.3,CID.4,CID.5,CID.6,CID.7,...,CID.48,CID.49,CID.50,CID.51,CID.52,CID.53,CID.54,CID.55,CID.56,CID.57
0,Snitz 1,1,6501,264,2879,7685,7731,326,7888,61138,...,0,0,0,0,0,0,0,0,0,0
1,Snitz 1,2,240,93009,323,8148,7762,3314,460,6184,...,0,0,0,0,0,0,0,0,0,0
2,Snitz 1,3,7710,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Snitz 1,4,31276,93009,11002,323,7966,8148,7632,22201,...,0,0,0,0,0,0,0,0,0,0
4,Snitz 1,5,10890,93009,11002,6982,323,8797,7966,8148,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,Bushdid,516,16666,19310,62465,22201,12473,22386,7583,7762,...,0,0,0,0,0,0,0,0,0,0
699,Bushdid,517,0,10821,0,8148,3776,8048,7731,31249,...,0,0,0,0,0,0,0,0,0,0
700,Bushdid,518,6561,12473,7590,24915,261,14100,997,8030,...,0,0,0,0,0,0,0,0,0,0
701,Bushdid,519,2969,264,8048,6054,4133,8635,10560,12348,...,0,0,0,0,0,0,0,0,0,0
702,Bushdid,520,2969,264,8048,6054,4133,8635,10560,12348,...,0,0,0,0,0,0,0,0,0,0

In [2]:
test_df = pd.read_csv("Data/Challenge/Mixure_Definitions_test_set.csv")
test_df

,Mixture Label,CID,CID.1,CID.2,CID.3,CID.4,CID.5,CID.6,CID.7,CID.8,CID.9
0,1,10890,62465,12180,7799,6054,12367,61016,7410,7749,10722
1,2,31244,14286,7714,8892,18827,12020,7519,7991,10430,7770
2,3,7793,8091,8797,26331,22873,31265,8118,454,6569,93009
3,4,31272,6501,8091,454,31252,6184,7410,8635,22386,7921
4,5,8892,14286,7991,7749,8051,62465,62336,6561,8797,31272
...,...,...,...,...,...,...,...,...,...,...,...
87,88,7793,6654,31265,10722,62336,7654,8118,8635,7770,61138
88,89,7654,8118,8635,7770,61138,1031,12178,12020,5634,22873
89,90,7654,8118,8635,7770,61138,8129,7762,11509,7150,6184
90,91,7888,62465,326,454,8130,1031,12178,12020,5634,22873
91,92,7793,6654,31265,10722,62336,957,10430,12367,7344,9609

In [3]:
leaderboard_df = pd.read_csv("Data/Challenge/Mixure_Definitions_Leaderboard_set.csv")
leaderboard_df

,Dataset,Mixture Label,CID,CID.1,CID.2,CID.3,CID.4,CID.5,CID.6,CID.7,...,CID.48,CID.49,CID.50,CID.51,CID.52,CID.53,CID.54,CID.55,CID.56,CID.57
0,Snitz 1,1,6501,264,2879,7685,7731,326,7888,61138,...,0,0,0,0,0,0,0,0,0,0
1,Snitz 1,3,7710,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Snitz 1,4,31276,93009,11002,323,7966,8148,7632,22201,...,0,0,0,0,0,0,0,0,0,0
3,Snitz 1,10,7410,6501,7600,7519,264,5281515,6259976,307,...,62336,7888,61016,16666,7119,8635,8918,957,18827,1183
4,Snitz 1,16,10890,7519,323,7583,7762,26331,8892,7888,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Bushdid,488,6054,12348,22386,31249,264,8842,7762,22311,...,0,0,0,0,0,0,0,0,0,0
83,Bushdid,503,4133,5634,31272,15380,8892,7848,5283349,31249,...,0,0,0,0,0,0,0,0,0,0
84,Bushdid,504,4133,5634,31272,15380,8892,7848,5283349,31249,...,0,0,0,0,0,0,0,0,0,0
85,Bushdid,511,7762,12348,66328,3314,8051,176,62433,7799,...,0,0,0,0,0,0,0,0,0,0
86,Bushdid,512,7762,12348,66328,3314,8051,176,62433,7799,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Function to extract Mixture Label and all non-zero CIDs as a list
# This dataset is such a mess lol.
def extract_mixture_labels_and_cids(df):
    result = []
    cid_columns = [col for col in df.columns if col.startswith('CID')]

    for index, row in df.iterrows():
        mixture_label = (row["Dataset"]+"_" if "Dataset" in row else "") + str(row['Mixture Label'])
        cids = [cid for cid in row[cid_columns].tolist() if cid != 0]
        # https://www.synapse.org/Synapse:syn53470621/discussion/threadId=11061
        if 81035281168 in cids:
            cids.remove(81035281168)
            cids.append(8103)
            cids.append(5281168)
            
        # https://www.synapse.org/Synapse:syn53470621/discussion/threadId=11177&replyId=32299
        if 11002307 in cids:
            cids.remove(11002307)
            cids.append(11002)
            cids.append(307)
            
        if 81295281168 in cids:
            cids.remove(81295281168)
            cids.append(8129)
            cids.append(5281168)
            
        result.append({"label":mixture_label, "cids":list(set(cids))})

    return result

train_results = extract_mixture_labels_and_cids(train_df)
len(train_results), train_results[0]

(703,
 {'label': 'Snitz 1_1',
  'cids': [1183, 7685, 6501, 326, 264, 7888, 61138, 7731, 8030, 2879]})

In [5]:
test_results = extract_mixture_labels_and_cids(test_df)
len(test_results), test_results[0]

(92,
 {'label': '1',
  'cids': [62465, 10722, 7749, 6054, 10890, 12367, 7410, 12180, 7799, 61016]})

In [6]:
leaderboard_results = extract_mixture_labels_and_cids(leaderboard_df)
len(leaderboard_results), leaderboard_results[0]

(87,
 {'label': 'Snitz 1_1',
  'cids': [1183, 7685, 6501, 326, 264, 7888, 61138, 7731, 8030, 2879]})

In [7]:
smiles_df = pd.read_csv("Data/molecules.csv")
smiles_df = smiles_df.set_index("CID")
cid_to_smiles = smiles_df.to_dict(orient="index")
len(cid_to_smiles), next(iter(cid_to_smiles.items()))

(174, (176, {'SMILES': 'CC(=O)O'}))

In [8]:
missing = set()
for mixture in train_results + test_results + leaderboard_results:
    for cid in mixture["cids"]:
        if not cid in cid_to_smiles:
            missing.add(cid)
missing

set()

In [9]:
from ogb.utils import smiles2graph
import numpy as np
from torch_geometric.data import InMemoryDataset, download_url, Data
import torch
import tqdm

def to_torch(graph):
    tensor_keys = ["edge_index", 'edge_feat', 'node_feat']
    for key in tensor_keys:
        graph[key] = torch.tensor(graph[key])
    return Data(x=graph["node_feat"].float(),edge_attr=graph["edge_feat"],edge_index=graph["edge_index"])

graph_data = dict()
for smiles in tqdm.tqdm(smiles_df["SMILES"]):
    graph_data[smiles] = to_torch(smiles2graph(smiles))
len(graph_data), next(iter(graph_data.items()))

 49%|████████████████████                     | 85/174 [00:00<00:00, 841.83it/s][17:45:19] WARNING: not removing hydrogen atom without neighbors
[17:45:19] WARNING: not removing hydrogen atom without neighbors
100%|████████████████████████████████████████| 174/174 [00:00<00:00, 868.00it/s]

(168, ('CC(=O)O', Data(x=[4, 9], edge_index=[2, 6], edge_attr=[6, 3])))

In [10]:
train_mixture_df = pd.read_csv("Data/Challenge/TrainingData_mixturedist.csv")
train_mixture_df = train_mixture_df[train_mixture_df['Dataset'].notnull()]
train_mixture_df

     Dataset  Mixture 1  Mixture 2  Experimental Values
0    Snitz 1        1.0        2.0             0.604167
1    Snitz 1        1.0        3.0             0.651042
2    Snitz 1        1.0        5.0             0.505208
3    Snitz 1        1.0        6.0             0.411458
4    Snitz 1        1.0        7.0             0.562500
..       ...        ...        ...                  ...
495  Bushdid      509.0      510.0             0.461538
496  Bushdid      513.0      514.0             0.692308
497  Bushdid      515.0      516.0             0.730769
498  Bushdid      517.0      518.0             0.538462
499  Bushdid      519.0      520.0             0.807692

[500 rows x 4 columns]

In [19]:
leaderboard_mixture_df = pd.read_csv("Data/Challenge/Leaderboard_set_Submission_form.csv")
leaderboard_mixture_df = leaderboard_mixture_df[leaderboard_mixture_df['Dataset'].notnull()]
leaderboard_mixture_df

    Dataset  Mixture_1  Mixture_2  Predicted_Experimental_Values
0   Bushdid         65         66                              0
1   Snitz 2          1          8                              0
2   Snitz 1         24         17                              0
3   Snitz 2         12         14                              0
4   Snitz 1         49         45                              0
5   Snitz 1         20         16                              0
6   Snitz 1         47         39                              0
7   Bushdid         29         30                              0
8   Snitz 1         10          3                              0
9   Bushdid        135        136                              0
10  Snitz 2          3          4                              0
11  Bushdid        487        488                              0
12  Bushdid        243        244                              0
13  Bushdid         17         18                              0
14    Ravia         85         95                              0
15  Bushdid        457        458                              0
16  Snitz 2          9         14                              0
17    Ravia         41         51                              0
18  Bushdid         51         52                              0
19  Bushdid        385        386                              0
20  Bushdid         19         20                              0
21  Bushdid        503        504                              0
22  Snitz 2          2          4                              0
23  Bushdid         21         22                              0
24  Bushdid        235        236                              0
25  Bushdid        483        484                              0
26  Bushdid          7          8                              0
27  Bushdid        511        512                              0
28  Bushdid        119        120                              0
29  Snitz 2          7         13                              0
30  Bushdid        455        456                              0
31  Snitz 2         12         10                              0
32  Bushdid        431        432                              0
33  Bushdid        133        134                              0
34    Ravia          7         17                              0
35    Ravia         44         54                              0
36  Bushdid        203        204                              0
37  Snitz 1         47         41                              0
38  Bushdid        167        168                              0
39  Snitz 1          1          4                              0
40  Bushdid        171        172                              0
41  Bushdid        233        234                              0
42    Ravia         30         40                              0
43  Bushdid        429        430                              0
44  Bushdid        139        140                              0
45  Snitz 2          6          7                              0

In [37]:
test_mixture_df = pd.read_csv("Data/Challenge/Test_set_Submission_form.csv")
test_mixture_df = test_mixture_df[test_mixture_df['Dataset'].notnull()]
test_mixture_df

    Dataset  Mixture_1  Mixture_2  Predicted_Experimental_Values
0   CGm01            1         17                              0
1   CGm02            2         18                              0
2   CGm03            3         19                              0
3   CGm04            4         20                              0
4   CGm05            5         21                              0
5   CGm06            6         22                              0
6   CGm07            7         23                              0
7   CGm08            8         24                              0
8   CGm09            9         25                              0
9   CGm10           10         26                              0
10  CGc01           11         27                              0
11  CGc02           12         28                              0
12  CGc03           13         29                              0
13  CGc04           14         30                              0
14   MRc23          15         31                              0
15   MRc29          16         32                              0
16    t04           33         63                              0
17    t02           34         64                              0
18    t03           35         65                              0
19    t10           36         66                              0
20    t01           37         67                              0
21    t07           38         68                              0
22    t08           39         69                              0
23    t05           40         70                              0
24    t11           41         71                              0
25    t12           42         72                              0
26    t18           43         73                              0
27    t15           44         74                              0
28    t09           45         75                              0
29    t13           46         76                              0
30    t14           47         77                              0
31    t20           48         78                              0
32    t06           49         79                              0
33    t19           50         80                              0
34    t17           51         81                              0
35    t16           52         82                              0
36    t23           53         83                              0
37    t29           54         84                              0
38    t26           55         85                              0
39    t27           56         86                              0
40    t30           57         87                              0
41    t25           58         88                              0
42    t22           59         89                              0
43    t24           60         90                              0
44    t21           61         91                              0
45    t28           62         92                              0

In [55]:
from torch_geometric.loader import DataLoader

def combine_graphs(mixture):
    graphs = [graph_data[cid_to_smiles[cid]["SMILES"]] for cid in mixture["cids"]]
    combined_batch = next(iter(DataLoader(graphs, batch_size=len(graphs))))
    return Data(x=combined_batch.x,edge_attr=combined_batch.edge_attr,edge_index=combined_batch.edge_index)

class PairData(Data):
    def __inc__(self, key, value, *args, **kwargs):
        if key == 'edge_index_s':
            return self.x_s.size(0)
        if key == 'edge_index_t':
            return self.x_t.size(0)
        return super().__inc__(key, value, *args, **kwargs)

def make_mixture_data(results,mixture_df,mixture_col,use_dataset,use_y):
    label_to_data = dict()
    for mixture in results:
        label_to_data[mixture["label"]] = combine_graphs(mixture)

    mixture_data = []
    for _,row in mixture_df.iterrows():
        label1 = (row["Dataset"] + "_" if use_dataset else "") + str(int(row[mixture_col+"1"]))
        graph1 = label_to_data[label1]
        label2 = (row["Dataset"] + "_"  if use_dataset else "") + str(int(row[mixture_col+"2"]))
        graph2 = label_to_data[label2]
        
        pair_data = PairData(label=f"{label1}/{label2}",x_s=graph1.x,edge_attr_s=graph1.edge_attr,edge_index_s=graph1.edge_index,x_t=graph2.x,edge_attr_t=graph2.edge_attr,edge_index_t=graph2.edge_index)
        if use_y:
            pair_data.y = row["Experimental Values"]
        mixture_data.append(pair_data)
        
    return mixture_data

# Wow what a crazy dataset :(
train_mixture_data = make_mixture_data(train_results,train_mixture_df,"Mixture ",use_dataset=True,use_y=True)
len(train_mixture_data), train_mixture_data[0]

(500,
 PairData(label='Snitz 1_1/Snitz 1_2', x_s=[97, 9], edge_attr_s=[190, 3], edge_index_s=[2, 190], x_t=[96, 9], edge_attr_t=[192, 3], edge_index_t=[2, 192], y=0.60416667))

In [56]:
leaderboard_mixture_data = make_mixture_data(leaderboard_results,leaderboard_mixture_df,"Mixture_",use_dataset=True,use_y=False)
len(leaderboard_mixture_data), leaderboard_mixture_data[0]

(46,
 PairData(label='Bushdid_65/Bushdid_66', x_s=[263, 9], edge_attr_s=[504, 3], edge_index_s=[2, 504], x_t=[233, 9], edge_attr_t=[438, 3], edge_index_t=[2, 438]))

In [57]:
test_mixture_data = make_mixture_data(test_results,test_mixture_df,"Mixture_",use_dataset=False,use_y=False)
len(test_mixture_data), test_mixture_data[0]

(46,
 PairData(label='1/17', x_s=[95, 9], edge_attr_s=[178, 3], edge_index_s=[2, 178], x_t=[95, 9], edge_attr_t=[178, 3], edge_index_t=[2, 178]))

In [54]:
import h5py
def make_file(fname,mixture_data):
    with h5py.File(fname, 'w') as f:
        for data in tqdm.tqdm(mixture_data):
            group = f.create_group(data.label)
            graph_group = group.create_group("graph")
            for k,v in data.items():
                if k == "label":
                    co
                graph_group.create_dataset(k,data=v.numpy())
make_file("Data/train.h5",train_mixture_data)

  0%|                                                   | 0/500 [00:00<?, ?it/s]

AttributeError: 'str' object has no attribute 'numpy'