In [1]:
import pandas as pd
import pubchempy as pcp
import tqdm

tqdm.tqdm.pandas()

missing_list = [66328, 78605, 19789253, 2513785, 25137858]
df = pd.read_csv("Data/Challenge/CID.csv",header=None,names=["CID"])
df = pd.concat([df,pd.DataFrame(missing_list, index=missing_list, columns=["CID"])])
df = df[~df.index.duplicated(keep='first')]
df

               CID
0              176
1              177
2              180
3              240
4              261
...            ...
66328        66328
78605        78605
19789253  19789253
2513785    2513785
25137858  25137858

[176 rows x 1 columns]

In [2]:
df["SMILES"] = df["CID"].progress_apply(lambda cid: pcp.Compound.from_cid(str(cid)).canonical_smiles)

100%|█████████████████████████████████████████| 176/176 [00:39<00:00,  4.44it/s]

In [3]:
df = df.set_index("CID")
df = df[~df.index.duplicated(keep='first')]
df

                                                    SMILES
CID
176                                                CC(=O)O
177                                                   CC=O
180                                                CC(=O)C
240                                       C1=CC=C(C=C1)C=O
261                                                 CCCC=O
...                                                    ...
66328                                     COC(=O)C1CCCC1=O
78605                              C1CC(=O)CCC1C2=CC=CC=C2
19789253                               [H+].CC(C(=O)[O-])O
2513785   COC1=CC=C(C=C1)NC(=O)COC(=O)CN2C(=O)C3CCCCC3C2=O
25137858    [H+].CN(C)CC(C1=CC=C(C=C1)OC)C2(CCCCC2)O.[Cl-]

[174 rows x 1 columns]

In [4]:
df.to_csv("Data/molecules.csv")