In [1]:
import sys
import os
sys.path.append("..")
os.getcwd()

'/Users/laurasisson/dream/Notebooks'

In [2]:
os.listdir()

['dataset_test.ipynb',
 '.DS_Store',
 'correct.ipynb',
 'finetune.ipynb',
 'smiles.ipynb',
 'distribution.ipynb',
 'rmse.ipynb',
 'preprocess.ipynb',
 '.ipynb_checkpoints',
 'blends.ipynb',
 'Data',
 'model.ipynb',
 'layers.ipynb']

In [3]:
import sklearn
import sklearn.preprocessing

In [4]:
import pandas as pd

snitz_ravia = pd.read_csv("Data/Challenge/Snitz_Ravia_Definition.csv").dropna()
snitz_ravia["Mixture Label"] = snitz_ravia["Mixture Label"].astype(int)
snitz_ravia

,Dataset,Mixture Label,CID,CID.1,CID.2,CID.3,CID.4,CID.5,CID.6,CID.7,...,CID.48,CID.49,CID.50,CID.51,CID.52,CID.53,CID.54,CID.55,CID.56,CID.57
1,Snitz 1,1,6501.0,264.0,2879.0,7685.0,7731.0,326.0,7888.0,61138.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Snitz 1,2,240.0,93009.0,323.0,8148.0,7762.0,3314.0,460.0,6184.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Snitz 1,3,7710.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Snitz 1,4,31276.0,93009.0,11002.0,323.0,7966.0,8148.0,7632.0,22201.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Snitz 1,5,10890.0,93009.0,11002.0,6982.0,323.0,8797.0,7966.0,8148.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,Ravia,116,7799.0,31244.0,1031.0,7363.0,14286.0,8025.0,19310.0,7793.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
359,Ravia,117,6590.0,1031.0,176.0,180.0,7363.0,7150.0,14286.0,8025.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
361,Ravia,118,1068.0,1031.0,180.0,3776.0,14286.0,61138.0,8025.0,6561.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
363,Ravia,119,7799.0,3776.0,264.0,62336.0,6569.0,10448.0,261.0,5284503.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
365,Ravia,120,7799.0,1068.0,7150.0,19310.0,7793.0,264.0,527.0,263.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
def extract_mixture_labels_and_cids(df):
    result = dict()
    cid_columns = [col for col in df.columns if col.startswith('CID')]

    for index, row in df.iterrows():
        mixture_label = (row["Dataset"]+"_" if "Dataset" in row else "") + str(row['Mixture Label'])
        cids = [int(cid) for cid in row[cid_columns].tolist() if cid != 0]
        assert len(set(cids)) == len(cids)
        
        
        result[mixture_label] = cids

    return result

def extract_mixture_labels(df):
    result = []
    cid_columns = [col for col in df.columns if col.startswith('CID')]

    for index, row in df.iterrows():
        mixture_label = (row["Dataset"]+"_" if "Dataset" in row else "") + str(row['Mixture Label'])
        result.append(mixture_label)

    return result
        
snitz_ravia_mixtures = extract_mixture_labels_and_cids(snitz_ravia)
len(snitz_ravia_mixtures), next(iter(snitz_ravia_mixtures.items()))

(183,
 ('Snitz 1_1', [6501, 264, 2879, 7685, 7731, 326, 7888, 61138, 8030, 1183]))

In [6]:
import json

report = pd.read_csv("Data/report.csv")
assert ~report["Multiple_matches"].all()
report["Label"] = report.apply(lambda x: f"Bushdid_{x['Idx_processed_dream_bushdid']+1}", axis=1)
bushdid_mixtures = report.set_index('Label')['bushdid_CIDs'].to_dict()
bushdid_mixtures = {k:json.loads(cids) for k, cids in bushdid_mixtures.items()}
len(bushdid_mixtures), next(iter(bushdid_mixtures.items()))

(520,
 ('Bushdid_1',
  [440917,
   5281515,
   8030,
   3314,
   31272,
   798,
   6184,
   8892,
   8025,
   6054,
   7463,
   8148,
   999,
   1060,
   22873,
   10890,
   61138,
   2879,
   10430,
   8048,
   6561,
   22386,
   11509,
   443162,
   8797,
   16666,
   7749,
   7793,
   7799,
   7762]))

In [7]:
all_mixtures = snitz_ravia_mixtures | bushdid_mixtures
len(all_mixtures)

703

In [8]:
test_df = pd.read_csv("Data/Challenge/Mixure_Definitions_test_set.csv")
test_mixtures = extract_mixture_labels_and_cids(test_df)
len(test_mixtures), next(iter(test_mixtures.items()))

(92, ('1', [10890, 62465, 12180, 7799, 6054, 12367, 61016, 7410, 7749, 10722]))

In [9]:
train_experiments = pd.read_csv("Data/Challenge/TrainingData_mixturedist.csv").dropna()
train_experiments = train_experiments.rename(columns={"Mixture 1":"Mixture_1","Mixture 2":"Mixture_2","Experimental Values":"Experimental_Values"})
train_experiments

     Dataset  Mixture_1  Mixture_2  Experimental_Values
0    Snitz 1        1.0        2.0             0.604167
1    Snitz 1        1.0        3.0             0.651042
2    Snitz 1        1.0        5.0             0.505208
3    Snitz 1        1.0        6.0             0.411458
4    Snitz 1        1.0        7.0             0.562500
..       ...        ...        ...                  ...
495  Bushdid      509.0      510.0             0.461538
496  Bushdid      513.0      514.0             0.692308
497  Bushdid      515.0      516.0             0.730769
498  Bushdid      517.0      518.0             0.538462
499  Bushdid      519.0      520.0             0.807692

[500 rows x 4 columns]

In [10]:
def jaccard(s1,s2):
    return len(s1.intersection(s2))/len(s1.union(s2))
    
def make_df_with_cids(experiments,mixtures,use_dataset=True):
    experiments = experiments.copy()
    if use_dataset:
        experiments["Label 1"] = experiments.apply(lambda x: x["Dataset"]+"_"+str(int(x["Mixture_1"])),axis=1)
        experiments["Label 2"] = experiments.apply(lambda x: x["Dataset"]+"_"+str(int(x["Mixture_2"])),axis=1)
    else:
        experiments["Label 1"] = experiments.apply(lambda x: str(int(x["Mixture_1"])),axis=1)
        experiments["Label 2"] = experiments.apply(lambda x: str(int(x["Mixture_2"])),axis=1)
    experiments["CIDS 1"] = experiments.apply(lambda x: mixtures[x["Label 1"]],axis=1)
    experiments["CIDS 2"] = experiments.apply(lambda x: mixtures[x["Label 2"]],axis=1)
    experiments["Overlap"] = experiments.apply(lambda x: jaccard(set(x["CIDS 1"]),set(x["CIDS 2"])),axis=1)
    return experiments
train_experiments_with_cids = make_df_with_cids(train_experiments,all_mixtures)
train_experiments_with_cids

,Dataset,Mixture_1,Mixture_2,Experimental_Values,Label 1,Label 2,CIDS 1,CIDS 2,Overlap
0,Snitz 1,1.0,2.0,0.604167,Snitz 1_1,Snitz 1_2,"[6501, 264, 2879, 7685, 7731, 326, 7888, 61138...","[240, 93009, 323, 8148, 7762, 3314, 460, 6184,...",0.000000
1,Snitz 1,1.0,3.0,0.651042,Snitz 1_1,Snitz 1_3,"[6501, 264, 2879, 7685, 7731, 326, 7888, 61138...",[7710],0.000000
2,Snitz 1,1.0,5.0,0.505208,Snitz 1_1,Snitz 1_5,"[6501, 264, 2879, 7685, 7731, 326, 7888, 61138...","[10890, 93009, 11002, 6982, 323, 8797, 7966, 8...",0.000000
3,Snitz 1,1.0,6.0,0.411458,Snitz 1_1,Snitz 1_6,"[6501, 264, 2879, 7685, 7731, 326, 7888, 61138...","[7710, 31276, 10890, 240, 93009, 11002, 6982, ...",0.000000
4,Snitz 1,1.0,7.0,0.562500,Snitz 1_1,Snitz 1_7,"[6501, 264, 2879, 7685, 7731, 326, 7888, 61138...","[93009, 460, 443158, 6544]",0.000000
...,...,...,...,...,...,...,...,...,...
495,Bushdid,509.0,510.0,0.461538,Bushdid_509,Bushdid_510,"[176, 7059, 7654, 4133, 31272, 2969, 7344, 605...","[176, 7059, 7654, 4133, 31272, 2969, 7344, 605...",0.500000
496,Bushdid,513.0,514.0,0.692308,Bushdid_513,Bushdid_514,"[612, 6654, 19310, 22386, 62465, 11552, 7793, ...","[10430, 454, 440917, 3776, 240, 2758, 10821, 7...",0.000000
497,Bushdid,515.0,516.0,0.730769,Bushdid_515,Bushdid_516,"[16666, 19310, 62465, 7848, 440917, 7991, 1060...","[16666, 19310, 62465, 22201, 7921, 22386, 7583...",0.176471
498,Bushdid,517.0,518.0,0.538462,Bushdid_517,Bushdid_518,"[1127, 10821, 8858, 8148, 3776, 8048, 7731, 31...","[6561, 7921, 7654, 24915, 261, 7888, 999, 8030...",0.000000
499,Bushdid,519.0,520.0,0.807692,Bushdid_519,Bushdid_520,"[2969, 264, 8048, 6054, 4133, 8635, 10560, 123...","[2969, 264, 8048, 6054, 4133, 8635, 10560, 123...",0.200000

In [11]:
train_experiments_with_cids['Dataset'].value_counts()

Dataset
Bushdid    234
Snitz 1    140
Snitz 2     81
Ravia       45
Name: count, dtype: int64

In [38]:
test_experiments = pd.read_csv("Data/Challenge/Test_set_Submission_form.csv").dropna()
test_experiments_with_cids = make_df_with_cids(test_experiments,test_mixtures,use_dataset=False)
test_experiments_with_cids

,Dataset,Mixture_1,Mixture_2,Predicted_Experimental_Values,Label 1,Label 2,CIDS 1,CIDS 2,Overlap
0,CGm01,1,17,0,1,17,"[10890, 62465, 12180, 7799, 6054, 12367, 61016...","[22201, 6184, 12741, 8797, 11509, 7793, 7770, ...",0.0
1,CGm02,2,18,0,2,18,"[31244, 14286, 7714, 8892, 18827, 12020, 7519,...","[7410, 31276, 62433, 10821, 7799, 22201, 6590,...",0.0
2,CGm03,3,19,0,3,19,"[7793, 8091, 8797, 26331, 22873, 31265, 8118, ...","[62433, 62336, 6590, 31244, 62465, 11002, 5634...",0.0
3,CGm04,4,20,0,4,20,"[31272, 6501, 8091, 454, 31252, 6184, 7410, 86...","[8051, 7799, 3314, 8858, 12178, 4133, 8118, 10...",0.0
4,CGm05,5,21,0,5,21,"[8892, 14286, 7991, 7749, 8051, 62465, 62336, ...","[7344, 7654, 10890, 6590, 10882, 11509, 7731, ...",0.0
5,CGm06,6,22,0,6,22,"[31244, 22873, 7710, 8635, 9609, 6054, 18827, ...","[7654, 31272, 7714, 8797, 11002, 454, 957, 122...",0.0
6,CGm07,7,23,0,7,23,"[8025, 5634, 31272, 10430, 7770, 7714, 7410, 7...","[8635, 9609, 31265, 8091, 7731, 61138, 10722, ...",0.0
7,CGm08,8,24,0,8,24,"[8051, 8091, 10976, 2758, 5634, 8797, 3314, 22...","[7762, 7793, 7714, 4133, 62433, 7991, 12180, 6...",0.0
8,CGm09,9,25,0,9,25,"[10722, 31265, 12020, 10882, 12741, 8892, 6113...","[18827, 7991, 12180, 4133, 240, 7793, 7654, 65...",0.0
9,CGm10,10,26,0,10,26,"[7714, 26331, 11509, 18827, 8118, 61138, 31272...","[4133, 7410, 62433, 8186, 7749, 10976, 12180, ...",0.0
10,CGc01,11,27,0,11,27,"[31252, 8118, 8030, 12178, 1068, 12232, 9609, ...","[6054, 7799, 7654, 62433, 7991, 7710, 11509, 1...",0.0
11,CGc02,12,28,0,12,28,"[93009, 7654, 6654, 8858, 3314, 18827, 8186, 6...","[8030, 31252, 1031, 15380, 8103, 31244, 180, 1...",0.0
12,CGc03,13,29,0,13,29,"[18827, 7793, 19310, 8118, 22386, 6054, 9609, ...","[15380, 62444, 11002, 6654, 180, 12232, 7519, ...",0.0
13,CGc04,14,30,0,14,30,"[8051, 12020, 7793, 7799, 8797, 6654, 7714, 81...","[31252, 7770, 12232, 19310, 8118, 6561, 8148, ...",0.0
14,MRc23,15,31,0,15,31,"[10890, 8025, 261, 6561, 8797, 62444, 7749, 60...","[62433, 5281168, 7731, 18827, 12180, 10976, 81...",0.0
15,MRc29,16,32,0,16,32,"[7654, 8118, 8635, 7770, 61138, 7799, 8186, 71...","[7888, 62465, 326, 454, 8130, 8103, 8051, 2238...",0.0
16,t04,33,63,0,33,63,"[31272, 9609, 7749, 8103, 22201, 10882, 22386,...","[62465, 62336, 15380, 6184, 261, 31252, 180, 7...",0.0
17,t02,34,64,0,34,64,"[12367, 454, 8186, 957, 10882, 18827, 31265, 8...","[8129, 7731, 22873, 10722, 7793, 7770, 9609, 6...",0.0
18,t03,35,65,0,35,65,"[12180, 31252, 19310, 10882, 8797, 7150, 7710,...","[7793, 31244, 8130, 7410, 7714, 8118, 12020, 1...",0.0
19,t10,36,66,0,36,66,"[440967, 7460, 1068, 7731, 443158, 7165, 22386...","[7150, 6590, 10821, 8051, 7770, 22201, 5281168...",0.0
20,t01,37,67,0,37,67,"[7410, 12020, 22201, 8635, 1031, 957, 6054, 77...","[6561, 8051, 5281515, 62444, 12178, 62465, 803...",0.0
21,t07,38,68,0,38,68,"[24915, 6184, 6590, 8635, 10976, 8091, 11509, ...","[7410, 6654, 31244, 18827, 8148, 10890, 12180,...",0.0
22,t08,39,69,0,39,69,"[61138, 31276, 15380, 18827, 31244, 8797, 7793...","[1068, 31265, 1031, 22386, 8130, 6569, 31252, ...",0.0
23,t05,40,70,0,40,70,"[180, 7762, 12178, 10976, 12367, 7799, 8030, 8...","[6590, 31244, 62444, 8797, 22386, 7714, 7731, ...",0.0
24,t11,41,71,0,41,71,"[62433, 5281168, 7731, 18827, 12180, 7888, 624...","[8103, 8051, 22386, 24915, 7710, 7714, 1068, 5...",0.0
25,t12,42,72,0,42,72,"[10890, 8025, 261, 6561, 8797, 10976, 8148, 61...","[62433, 5281168, 7731, 18827, 12180, 62444, 77...",0.0
26,t18,43,73,0,43,73,"[10890, 8025, 261, 6561, 8797, 7654, 8118, 863...","[62433, 5281168, 7731, 18827, 12180, 7799, 818...",0.0
27,t15,44,74,0,44,74,"[10890, 8025, 261, 6561, 8797, 7793, 6654, 312...","[8129, 7762, 11509, 7150, 6184, 1031, 12178, 1...",0.0
28,t09,45,75,0,45,75,"[7150, 8091, 8186, 31276, 7770, 61138, 22201, ...","[8103, 22386, 10821, 31272, 6654, 8797, 5634, ...",0.0
29,t13,46,76,0,46,76,"[7654, 8118, 8635, 7770, 61138, 8129, 7762, 11...","[62433, 5281168, 7731, 18827, 12180, 7799, 818...",0.0
30,t14,47,77,0,47,77,"[8103, 8051, 22386, 24915, 7710, 62444, 7749, ...","[8129, 7762, 11509, 7150, 6184, 10976, 8148, 6...",0.0
31,t20,48,78,0,48,78,"[7793, 6654, 31265, 10722, 62336, 10976, 8148,...","[7888, 62465, 326, 454, 8130, 8103, 8051, 2238...",0.0
32,t06,49,79,0,49,79,"[11509, 15380, 8103, 31265, 22201, 180, 8129, ...","[7731, 12367, 19310, 6054, 62433, 7150, 10821,...",0.0
33,t19,50,80,0,50,80,"[7793, 6654, 31265, 10722, 62336, 22201, 10821...","[7888, 62465, 326, 454, 8130, 8129, 7762, 1150...",0.0
34,t17,51,81,0,51,81,"[7654, 8118, 8635, 7770, 61138, 10976, 8148, 6...","[62433, 5281168, 7731, 18827, 12180, 8103, 805...",0.0
35,t16,52,82,0,52,82,"[62433, 5281168, 7731, 18827, 12180, 1031, 121...","[8103, 8051, 22386, 24915, 7710, 10976, 8148, ...",0.0
36,t23,53,83,0,53,83,"[10890, 8025, 261, 6561, 8797, 62444, 7749, 60...","[62433, 5281168, 7731, 18827, 12180, 10976, 81...",0.0
37,t29,54,84,0,54,84,"[7654, 8118, 8635, 7770, 61138, 7799, 8186, 71...","[7888, 62465, 326, 454, 8130, 8103, 8051, 2238...",0.0
38,t26,55,85,0,55,85,"[1031, 12178, 12020, 5634, 22873, 10976, 8148,...","[7888, 62465, 326, 454, 8130, 7714, 1068, 5283...",0.0
39,t27,56,86,0,56,86,"[62433, 5281168, 7731, 18827, 12180, 8103, 805...","[10890, 8025, 261, 6561, 8797, 62444, 7749, 60...",0.0
40,t30,57,87,0,57,87,"[7654, 8118, 8635, 7770, 61138, 8129, 7762, 11...","[62433, 5281168, 7731, 18827, 12180, 7714, 106...",0.0
41,t25,58,88,0,58,88,"[10890, 8025, 261, 6561, 8797, 7714, 1068, 528...","[7793, 6654, 31265, 10722, 62336, 7654, 8118, ...",0.0
42,t22,59,89,0,59,89,"[7793, 6654, 31265, 10722, 62336, 7888, 62465,...","[7654, 8118, 8635, 7770, 61138, 1031, 12178, 1...",0.0
43,t24,60,90,0,60,90,"[10890, 8025, 261, 6561, 8797, 1031, 12178, 12...","[7654, 8118, 8635, 7770, 61138, 8129, 7762, 11...",0.0
44,t21,61,91,0,61,91,"[7793, 6654, 31265, 10722, 62336, 7714, 1068, ...","[7888, 62465, 326, 454, 8130, 1031, 12178, 120...",0.0
45,t28,62,92,0,62,92,"[15380, 7410, 12232, 6569, 31252, 19310, 6590,...","[7793, 6654, 31265, 10722, 62336, 957, 10430, ...",0.0

In [39]:
leaderboard_experiments = pd.read_csv("Data/Challenge/Leaderboard_set_Submission_form.csv").dropna()
leaderboard_experiments_with_cids = make_df_with_cids(leaderboard_experiments,all_mixtures)
leaderboard_experiments_with_cids

,Dataset,Mixture_1,Mixture_2,Predicted_Experimental_Values,Label 1,Label 2,CIDS 1,CIDS 2,Overlap
0,Bushdid,65,66,0,Bushdid_65,Bushdid_66,"[62336, 460, 8103, 6054, 1127, 637511, 7632, 1...","[62336, 460, 8103, 6054, 1127, 637511, 7632, 1...",0.333333
1,Snitz 2,1,8,0,Snitz 2_1,Snitz 2_8,"[326, 26331, 6544, 1140]","[31276, 8148, 7762, 18827, 7714]",0.000000
2,Snitz 1,24,17,0,Snitz 1_24,Snitz 1_17,"[7749, 61138, 6054, 6544]","[14286, 31276, 7600, 7519, 11002, 6982, 307, 3...",0.000000
3,Snitz 2,12,14,0,Snitz 2_12,Snitz 2_14,"[7410, 326, 2758, 62444, 7770, 1140]","[8797, 7731, 7966, 3314, 62336, 7059, 7991, 61...",0.000000
4,Snitz 1,49,45,0,Snitz 1_49,Snitz 1_45,"[7600, 62433, 7991, 6989]",[7685],0.000000
5,Snitz 1,20,16,0,Snitz 1_20,Snitz 1_16,[62336],"[10890, 7519, 323, 7583, 7762, 26331, 8892, 78...",0.000000
6,Snitz 1,47,39,0,Snitz 1_47,Snitz 1_39,"[7410, 7710, 7600, 62433, 5281515, 6982, 307, ...","[61199, 6501, 264, 2879, 7731, 326, 24915, 776...",0.000000
7,Bushdid,29,30,0,Bushdid_29,Bushdid_30,"[12348, 798, 7793, 7848, 7749, 8918, 2969, 106...","[22201, 7463, 10890, 62444, 7921, 6736, 8635, ...",0.000000
8,Snitz 1,10,3,0,Snitz 1_10,Snitz 1_3,"[7410, 6501, 7600, 7519, 264, 5281515, 6259976...",[7710],0.000000
9,Bushdid,135,136,0,Bushdid_135,Bushdid_136,"[7059, 443162, 637511, 16666, 7888, 31276, 111...","[7059, 443162, 637511, 16666, 7888, 31276, 111...",0.900000
10,Snitz 2,3,4,0,Snitz 2_3,Snitz 2_4,"[31276, 62433, 7519, 8129, 12178, 18827, 10722]","[62433, 8797, 2758, 3314, 8635, 61138, 6054, 6...",0.285714
11,Bushdid,487,488,0,Bushdid_487,Bushdid_488,"[62433, 12741, 2969, 8918, 179, 7799, 1140, 65...","[6054, 12348, 22386, 31249, 264, 7793, 7762, 4...",0.000000
12,Bushdid,243,244,0,Bushdid_243,Bushdid_244,"[10976, 1068, 12020, 31265, 7654, 22873, 6654,...","[10976, 1068, 12020, 31265, 7654, 8148, 6544, ...",0.250000
13,Bushdid,17,18,0,Bushdid_17,Bushdid_18,"[5281515, 15380, 12367, 3776, 7632, 2758, 8797...","[5281515, 15380, 12367, 3776, 7632, 2758, 8797...",0.966667
14,Ravia,85,95,0,Ravia_85,Ravia_95,"[31244, 180, 8025, 6561, 11552, 527, 263, 6584...","[6590, 180, 3776, 443158, 22386, 263, 9609, 10...",0.500000
15,Bushdid,457,458,0,Bushdid_457,Bushdid_458,"[22873, 176, 31276, 7600, 10882, 11002, 11552,...","[22873, 176, 31276, 7600, 10882, 11002, 11552,...",0.333333
16,Snitz 2,9,14,0,Snitz 2_9,Snitz 2_14,"[7710, 93009, 8130, 8103, 5281168, 7059, 8918,...","[8797, 7731, 7966, 3314, 62336, 7059, 7991, 61...",0.125000
17,Ravia,41,51,0,Ravia_41,Ravia_51,"[7799, 31244, 7150, 14286, 8025, 19310, 7793, ...","[7799, 6590, 31244, 3776, 7363, 7150, 14286, 6...",0.692308
18,Bushdid,51,52,0,Bushdid_51,Bushdid_52,"[8030, 8858, 261, 8635, 12020, 6184, 3314, 788...","[8030, 8858, 261, 12741, 1146, 22386, 7344, 56...",0.300000
19,Bushdid,385,386,0,Bushdid_385,Bushdid_386,"[240, 6054, 31265, 7714, 5283349, 12741, 8025,...","[240, 6054, 31265, 7714, 5283349, 12741, 1060,...",0.600000
20,Bushdid,19,20,0,Bushdid_19,Bushdid_20,"[4133, 31265, 2969, 12020, 179, 7410, 7731, 65...","[4133, 31265, 2969, 12020, 179, 11509, 8025, 8...",0.250000
21,Bushdid,503,504,0,Bushdid_503,Bushdid_504,"[4133, 5634, 31272, 15380, 8892, 7848, 5283349...","[4133, 5634, 31272, 15380, 8892, 7848, 5283349...",0.333333
22,Snitz 2,2,4,0,Snitz 2_2,Snitz 2_4,"[7710, 62433, 7519, 7685, 3314]","[62433, 8797, 2758, 3314, 8635, 61138, 6054, 6...",0.400000
23,Bushdid,21,22,0,Bushdid_21,Bushdid_22,"[7921, 7632, 2758, 7799, 1060, 7583, 2879, 312...","[7921, 7632, 2758, 7799, 1060, 7583, 2879, 312...",0.900000
24,Bushdid,235,236,0,Bushdid_235,Bushdid_236,"[8635, 7749, 8048, 7966, 12020, 31272, 5283349...","[8635, 7749, 8048, 7966, 12020, 31272, 5283349...",0.966667
25,Bushdid,483,484,0,Bushdid_483,Bushdid_484,"[1146, 7762, 443158, 31249, 7519, 62336, 52833...","[1146, 7762, 443158, 31249, 7519, 62336, 52833...",0.666667
26,Bushdid,7,8,0,Bushdid_7,Bushdid_8,"[8148, 6544, 8030, 6982, 7519, 62433, 24915, 6...","[612, 7888, 22386, 326, 6654, 5281168, 8103, 8...",0.000000
27,Bushdid,511,512,0,Bushdid_511,Bushdid_512,"[7762, 12348, 26331, 3314, 8051, 176, 62433, 7...","[7762, 12348, 26331, 3314, 8051, 176, 62433, 7...",0.750000
28,Bushdid,119,120,0,Bushdid_119,Bushdid_120,"[31276, 5283349, 8130, 6054, 7600, 22873, 7710...","[31276, 5283349, 8130, 7654, 1140, 22386, 2491...",0.300000
29,Snitz 2,7,13,0,Snitz 2_7,Snitz 2_13,"[240, 307, 7731, 2758, 12178, 62336, 8635]","[7410, 7519, 11002, 8797, 8129, 5281168, 6654,...",0.000000
30,Bushdid,455,456,0,Bushdid_455,Bushdid_456,"[61138, 8118, 8635, 16666, 5281515, 7460, 261,...","[61138, 8118, 8635, 16666, 5281515, 7460, 7654...",0.600000
31,Snitz 2,12,10,0,Snitz 2_12,Snitz 2_10,"[7410, 326, 2758, 62444, 7770, 1140]","[11002, 7685, 12178, 4133, 7991, 6054, 7770, 7...",0.166667
32,Bushdid,431,432,0,Bushdid_431,Bushdid_432,"[2969, 7632, 6989, 7991, 443158, 7799, 2758, 7...","[31244, 454, 7966, 62433, 18827, 7714, 19310, ...",0.000000
33,Bushdid,133,134,0,Bushdid_133,Bushdid_134,"[7848, 4133, 8130, 8051, 22873, 7150, 31276, 2...","[7848, 4133, 8130, 8051, 22873, 7150, 31276, 2...",0.950000
34,Ravia,7,17,0,Ravia_7,Ravia_17,"[31244, 176, 180, 3776, 7363, 7150, 14286, 193...","[7799, 1068, 6590, 1031, 7150, 61138, 8025, 19...",0.476190
35,Ravia,44,54,0,Ravia_44,Ravia_54,"[7799, 1068, 6590, 31244, 180, 7150, 8025, 193...","[180, 7363, 7150, 14286, 61138, 8025, 19310, 4...",0.678571
36,Bushdid,203,204,0,Bushdid_203,Bushdid_204,"[8048, 1127, 7600, 637566, 8797, 443158, 61016...","[8048, 1127, 7600, 637566, 8797, 31249, 7344, ...",0.250000
37,Snitz 1,47,41,0,Snitz 1_47,Snitz 1_41,"[7410, 7710, 7600, 62433, 5281515, 6982, 307, ...","[61199, 6501, 31276, 10890, 7519, 240, 93009, ...",0.000000
38,Bushdid,167,168,0,Bushdid_167,Bushdid_168,"[6501, 7632, 61138, 24915, 179, 460, 6982, 528...","[1127, 7363, 7991, 8103, 8858, 12232, 6544, 12...",0.000000
39,Snitz 1,1,4,0,Snitz 1_1,Snitz 1_4,"[6501, 264, 2879, 7685, 7731, 326, 7888, 61138...","[31276, 93009, 11002, 323, 7966, 8148, 7632, 2...",0.000000
40,Bushdid,171,172,0,Bushdid_171,Bushdid_172,"[177, 179, 1068, 7363, 7799, 7600, 12020, 6544...","[177, 179, 1068, 7363, 7799, 7600, 12020, 6544...",0.966667
41,Bushdid,233,234,0,Bushdid_233,Bushdid_234,"[62433, 8030, 8892, 10722, 31272, 261, 7460, 7...","[62433, 8030, 8892, 176, 19310, 22386, 443158,...",0.300000
42,Ravia,30,40,0,Ravia_30,Ravia_40,"[7799, 1031, 176, 3776, 7793, 22386, 9609, 806...","[7799, 1031, 176, 180, 14286, 8025, 6561, 7793...",0.571429
43,Bushdid,429,430,0,Bushdid_429,Bushdid_430,"[637511, 6590, 12020, 6654, 62433, 8030, 12348...","[637511, 6590, 12020, 6654, 62433, 8030, 12348...",0.966667
44,Bushdid,139,140,0,Bushdid_139,Bushdid_140,"[637566, 1146, 1127, 7714, 177, 6989, 5634, 29...","[637566, 1146, 1127, 7714, 177, 6989, 5634, 29...",0.333333
45,Snitz 2,6,7,0,Snitz 2_6,Snitz 2_7,"[7519, 8148, 31252, 8103, 5281168, 6544]","[240, 307, 7731, 2758, 12178, 62336, 8635]",0.000000

In [14]:
def is_clean(mixtures):
    for key,cids in mixtures.items():
        if 81035281168 in cids:
            print(key,cids)
            raise KeyboardInterrupt
        if 11002307 in cids:
            print(key,cids)
            raise KeyboardInterrupt
        if 81295281168 in cids:
            print(key,cids)
            raise KeyboardInterrupt
    
is_clean(all_mixtures)
is_clean(test_mixtures)

In [15]:
all_cids = set()
for _, cids in all_mixtures.items():
    all_cids.update(cids)
    
for _, cids in test_mixtures.items():
    all_cids.update(cids)
len(all_cids)

162

In [16]:
import json
with open("Data/cid_to_smiles.json") as f:
    cid_to_smiles = json.load(f)
cid_to_smiles = {int(cid):smiles for cid, smiles in cid_to_smiles.items()}
len(cid_to_smiles), next(iter(cid_to_smiles.items()))

(163, (176, 'CC(=O)O'))

In [17]:
for cid in all_cids:
    assert cid in cid_to_smiles

In [18]:
from ogb.utils import smiles2graph
import numpy as np
from torch_geometric.data import InMemoryDataset, download_url, Data
import torch
from tqdm.notebook import tqdm

def to_torch(graph):
    tensor_keys = ["edge_index", 'edge_feat', 'node_feat']
    for key in tensor_keys:
        graph[key] = torch.tensor(graph[key])
    return Data(x=graph["node_feat"].float(),edge_attr=graph["edge_feat"],edge_index=graph["edge_index"])

graph_data = dict()
for smiles in tqdm(cid_to_smiles.values(),smoothing=0):
    graph_data[smiles] = to_torch(smiles2graph(smiles))
len(graph_data), next(iter(graph_data.items()))

  0%|          | 0/163 [00:00<?, ?it/s]

(159, ('CC(=O)O', Data(x=[4, 9], edge_index=[2, 6], edge_attr=[6, 3])))

In [19]:
import data

def make_mixture(cids):
    return data.combine_graphs([graph_data[cid_to_smiles[cid]] for cid in cids])

def make_mixture_data(df_with_cids,use_y):
    mixture_data = []
    for _,row in tqdm(df_with_cids.iterrows(),total=len(df_with_cids)):
        graph1 = make_mixture(row["CIDS 1"])
        graph2 = make_mixture(row["CIDS 2"])
        
        pair_data = {"dataset":row['Dataset'],"label":f"{row['Label 1']}+{row['Label 2']}","mixture1":str(row["Mixture_1"]),"mixture2":str(row["Mixture_2"]),"graph1":graph1,"graph2":graph2,"overlap":row["Overlap"]}
        if use_y:
            pair_data["y"] = torch.tensor(row["Experimental_Values"])
        mixture_data.append(pair_data)
    return mixture_data

train_mixture_data = make_mixture_data(train_experiments_with_cids,use_y=True)
len(train_mixture_data), train_mixture_data[0]

  0%|          | 0/500 [00:00<?, ?it/s]

(500,
 {'dataset': 'Snitz 1',
  'label': 'Snitz 1_1+Snitz 1_2',
  'mixture1': '1.0',
  'mixture2': '2.0',
  'graph1': BlendData(x=[97, 9], edge_index=[2, 190], edge_attr=[190, 3], mol_batch=[97], blend_batch=[10]),
  'graph2': BlendData(x=[96, 9], edge_index=[2, 192], edge_attr=[192, 3], mol_batch=[96], blend_batch=[10]),
  'overlap': 0.0,
  'y': tensor(0.6042)})

In [20]:
test_mixture_data = make_mixture_data(test_experiments_with_cids,use_y=False)
len(test_mixture_data), test_mixture_data[0]

  0%|          | 0/46 [00:00<?, ?it/s]

(46,
 {'dataset': 'CGm01  ',
  'label': '1+17',
  'mixture1': '1',
  'mixture2': '17',
  'graph1': BlendData(x=[95, 9], edge_index=[2, 178], edge_attr=[178, 3], mol_batch=[95], blend_batch=[10]),
  'graph2': BlendData(x=[95, 9], edge_index=[2, 178], edge_attr=[178, 3], mol_batch=[95], blend_batch=[10]),
  'overlap': 0.0})

In [21]:
leaderboard_mixture_data = make_mixture_data(leaderboard_experiments_with_cids,use_y=False)
len(leaderboard_mixture_data), leaderboard_mixture_data[0]

  0%|          | 0/46 [00:00<?, ?it/s]

(46,
 {'dataset': 'Bushdid',
  'label': 'Bushdid_65+Bushdid_66',
  'mixture1': '65',
  'mixture2': '66',
  'graph1': BlendData(x=[285, 9], edge_index=[2, 546], edge_attr=[546, 3], mol_batch=[285], blend_batch=[30]),
  'graph2': BlendData(x=[254, 9], edge_index=[2, 478], edge_attr=[478, 3], mol_batch=[254], blend_batch=[30]),
  'overlap': 0.2})

In [22]:
import h5py
def make_file(fname,mixture_data):
    with h5py.File(fname, 'w') as f:
        for idx,data in enumerate(tqdm(mixture_data)):
            group = f.create_group(str(idx))
            group.create_dataset("label",data=data["label"])
            group.create_dataset("mixture1",data=data["mixture1"])
            group.create_dataset("mixture2",data=data["mixture2"])
            graph_group1 = group.create_group("graph1")
            for k,v in data["graph1"].items():
                graph_group1.create_dataset(k,data=v.numpy())
            graph_group2 = group.create_group("graph2")
            for k,v in data["graph2"].items():
                graph_group2.create_dataset(k,data=v.numpy())
            group.create_dataset("dataset",data=data["dataset"])
            group.create_dataset("overlap",data=data["overlap"])
            if "y" in data:
                group.create_dataset("y",data=data["y"].numpy())
make_file("Data/train.h5",train_mixture_data)
make_file("Data/test.h5",test_mixture_data)
make_file("Data/leaderboard.h5",leaderboard_mixture_data)

  0%|          | 0/500 [00:00<?, ?it/s]

  0%|          | 0/46 [00:00<?, ?it/s]

  0%|          | 0/46 [00:00<?, ?it/s]

In [23]:
def get_cid_sets(df):
    df_cids = set()
    df_cids.update(df["CIDS 1"].map(lambda x: frozenset(x)))
    df_cids.update(df["CIDS 2"].map(lambda x: frozenset(x)))
    return df_cids
tr_cid_sets = get_cid_sets(train_experiments_with_cids)
len(tr_cid_sets)

608

In [24]:
ts_cid_sets = get_cid_sets(test_experiments_with_cids)
len(ts_cid_sets)

82

In [25]:
ld_cid_sets = get_cid_sets(leaderboard_experiments_with_cids)
len(ld_cid_sets)

87

In [26]:
def jaccard(s1,s2):
    # return len(s1.intersection(s2))/len(s1.union(s2))
    return len(s1.intersection(s2))/min(len(s1),len(s2))
jaccard(tr_cid_sets,ts_cid_sets), jaccard(tr_cid_sets,ld_cid_sets)

(0.0, 0.2988505747126437)

In [27]:
for ds1 in train_experiments_with_cids["Dataset"].unique():
    for ds2 in train_experiments_with_cids["Dataset"].unique():
        if ds1 == ds2:
            continue
        ds1_cids = get_cid_sets(train_experiments_with_cids[train_experiments_with_cids["Dataset"]==ds1])
        ds2_cids = get_cid_sets(train_experiments_with_cids[train_experiments_with_cids["Dataset"]==ds2])
        print(ds1,ds2,jaccard(ds1_cids,ds2_cids))

Snitz 1 Snitz 2 0.0
Snitz 1 Ravia 0.0
Snitz 1 Bushdid 0.0
Snitz 2 Snitz 1 0.0
Snitz 2 Ravia 0.0
Snitz 2 Bushdid 0.0
Ravia Snitz 1 0.0
Ravia Snitz 2 0.0
Ravia Bushdid 0.0
Bushdid Snitz 1 0.0
Bushdid Snitz 2 0.0
Bushdid Ravia 0.0

In [28]:
for ds1 in train_experiments_with_cids["Dataset"].unique():
    ds1_cids = get_cid_sets(train_experiments_with_cids[train_experiments_with_cids["Dataset"]==ds1])
    print(ds1,"Test Set","{:.2f}".format(jaccard(ds1_cids,ts_cid_sets)))

Snitz 1 Test Set 0.00
Snitz 2 Test Set 0.00
Ravia Test Set 0.00
Bushdid Test Set 0.00

In [29]:
def get_cids(df):
    df_cids = set()
    df["CIDS 1"].map(lambda x: df_cids.update(x))
    df["CIDS 2"].map(lambda x: df_cids.update(x))
    return df_cids
tr_cids = get_cids(train_experiments_with_cids)
len(tr_cids)

161

In [30]:
ts_cids = get_cids(test_experiments_with_cids)
len(ts_cids)

97

In [31]:
ld_cids = get_cids(leaderboard_experiments_with_cids)
len(ld_cids)

161

In [32]:
jaccard(tr_cids,ts_cids),jaccard(tr_cids,ld_cids)

(0.9896907216494846, 1.0)

In [33]:
tr_cids.difference(ts_cids), ts_cids.difference(tr_cids)

({176,
  177,
  179,
  263,
  264,
  307,
  323,
  460,
  527,
  612,
  798,
  999,
  1032,
  1060,
  1127,
  1146,
  1183,
  2879,
  2969,
  3776,
  6276,
  6584,
  6736,
  6982,
  6989,
  7059,
  7119,
  7284,
  7363,
  7463,
  7583,
  7600,
  7632,
  7685,
  7848,
  7895,
  8048,
  8063,
  8842,
  8857,
  8918,
  10448,
  10560,
  11124,
  11173,
  12348,
  16666,
  17100,
  20859,
  31249,
  31266,
  31277,
  61199,
  84682,
  91497,
  440917,
  443162,
  637511,
  637566,
  637776,
  638011,
  5284503,
  5318042,
  5373603,
  6259976},
 {650})

In [34]:
for ds1 in train_experiments_with_cids["Dataset"].unique():
    for ds2 in train_experiments_with_cids["Dataset"].unique():
        if ds1 == ds2:
            continue
        ds1_cids = get_cids(train_experiments_with_cids[train_experiments_with_cids["Dataset"]==ds1])
        ds2_cids = get_cids(train_experiments_with_cids[train_experiments_with_cids["Dataset"]==ds2])
        print(ds1,ds2,"{:.2f}".format(jaccard(ds1_cids,ds2_cids)))

Snitz 1 Snitz 2 1.00
Snitz 1 Ravia 0.29
Snitz 1 Bushdid 0.84
Snitz 2 Snitz 1 1.00
Snitz 2 Ravia 0.09
Snitz 2 Bushdid 0.88
Ravia Snitz 1 0.29
Ravia Snitz 2 0.09
Ravia Bushdid 0.59
Bushdid Snitz 1 0.84
Bushdid Snitz 2 0.88
Bushdid Ravia 0.59

In [35]:
for ds1 in train_experiments_with_cids["Dataset"].unique():
    ds1_cids = get_cids(train_experiments_with_cids[train_experiments_with_cids["Dataset"]==ds1])
    print(ds1,"Test Set","{:.2f}".format(jaccard(ds1_cids,ts_cids)))

Snitz 1 Test Set 0.70
Snitz 2 Test Set 0.91
Ravia Test Set 0.53
Bushdid Test Set 0.93

In [36]:
all_tr_labels = set()
all_tr_labels.update(train_experiments_with_cids["Label 1"])
all_tr_labels.update(train_experiments_with_cids["Label 2"])

all_ld_labels = set()
all_ld_labels.update(leaderboard_experiments_with_cids["Label 1"])
all_ld_labels.update(leaderboard_experiments_with_cids["Label 2"])
for label in all_ld_labels.difference(all_tr_labels):
    assert label in all_mixtures

In [37]:
display(train_experiments_with_cids["Dataset"].value_counts(normalize=True))
leaderboard_experiments_with_cids["Dataset"].value_counts(normalize=True)

Dataset
Bushdid    0.468
Snitz 1    0.280
Snitz 2    0.162
Ravia      0.090
Name: proportion, dtype: float64

Dataset
Bushdid    0.565217
Snitz 2    0.173913
Snitz 1    0.152174
Ravia      0.108696
Name: proportion, dtype: float64